/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
	/*padding-left changed*/
    margin-left: 38px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    margin-top: -63px;
    position: fixed;
    left: 200px;
    /*width changed*/
    width: 38px;
    height: 100%;
    margin-left: -200px;
    overflow-y: scroll;
    background: #8F5B0B;/*#599400*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	-webkit-box-shadow: 2px 6px 18px rgba(0, 0, 0, 0.275);
	-moz-box-shadow: 2px 6px 18px rgba(0, 0, 0, 0.275);
	box-shadow: 2px 6px 18px rgba(0, 0, 0, 0.275);

}
#sidebar-wrapper::-webkit-scrollbar { 
  display: none;
}
#sidebar-wrapper::-moz-scrollbar { 
  display: none;
}

#sidebar-wrapper ul{
	padding-top: 63px;
}
#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#page-content-wrapper {
	/* width: -moz-calc(100% - 38px);
    width: -webkit-calc(100% - 38px);
    width: calc(100% - 38px); */
    position: relative; /*absolute;*/
    padding: 15px;
    padding-right: 0px;   
}

#wrapper.toggled #page-content-wrapper {
    position: relative; /*absolute;*/
    margin-right: -200px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    margin-left: -10px;
}

/* .sidebar-nav li:hover {
	background: #9c27b0;
	position: fixed;
    text-indent: 20px;
    line-height: 40px;
    width: 200px;
}
 */
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a i {
	margin-left: -24px;
}

.sidebar-nav li a span {
	padding: 5px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #8F5B0B;/*#599400 /*#fff;*/
    background: #fff;/*rgba(255,255,255,0.4);*/
}

.sidebar-nav li a.active {
    text-decoration: none;
    color: #8F5B0B;/*#599400; /*#fff;*/
    background: #fff;/*rgba(255,255,255,0.4);*/
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 62px;
    font-size: 18px;
    line-height: 60px;
    color: #fff;
    border-bottom:1px solid;
}
.sidebar-nav > .sidebar-brand span{
	font-size: 14px;
}
.sidebar-nav > .sidebar-brand a{
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        margin-left: 200px;
    }
	/*padding-left changed*/
    #wrapper.toggled {
        margin-left: 38px;
    }

    #sidebar-wrapper {
        margin-top: -63px;
        width: 200px;
    }
	#sidebar-wrapper ul{
		padding-top: 63px;
	}

    #wrapper.toggled #sidebar-wrapper {
        /*width changed*/
        width: 38px;
    }

    #page-content-wrapper {
        padding: 15px;
        position: relative;
        padding-right: 0px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}