@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Oswald:300);
@import	url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body {padding-top: 63px;}

.brand-text {font-family: 'Indie Flower', cursive;}
.username-text { font-family: 'Open Sans Condensed'; margin-top: -4px}

.plan-select-space {
	width: 30px;
}
table.tablesorter{
	table-layout: fixed;
	width: 100%;
	white-space: nowrap;
}
table.tablesorter td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;	
}

input:focus,
select:focus,
textarea:focus,
a:focus,
button:focus {
    outline: none;
}
textarea {
   resize: none;
}
.hide-extra{
	text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}
#holderEMIDetails {height: 121px; overflow: auto;  font-size: 9.4px;}
#holderEMIDetails::-webkit-scrollbar {display:none;}
#menu-toggle{padding-top: 13px;}
.left-max-margin {margin-left: 60px;}
.left-mid-margin {margin-left: 30px;}
.left-min-margin {margin-left: 15px;}
.left-xs-margin {margin-left: 5px;}
.right-max-margin {margin-right: 60px;}
.right-mid-margin {margin-right: 30px;}
.right-min-margin {margin-right: 15px;}
.right-xs-margin {margin-right: 5px;}
.top-max-margin {margin-top: 70px;}
.top-mid-margin {margin-top: 30px;}
.top-min-margin {margin-top: 12px;}
.top-xs-margin {margin-top: 4px;}
.bottom-max-margin {margin-bottom: 70px;}
.bottom-mid-margin {margin-bottom: 30px;}
.bottom-min-margin {margin-bottom: 12px;}
.bottom-xs-margin {margin-bottom: 4px;}
.list-group {border-radius:0px;}
.text-black {color: #000;}
.text-white {color: #fff;}
.bg-image {
	background: url(../../images/index-bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.form-bg {
	color: white;
	padding: 10px;
	margin-bottom: 15px;
	background: rgba(255, 255, 255, .80);
	-webkit-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
	-moz-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
	box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
}

.text-overlay {
	-webkit-text-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
	-moz-text-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
	text-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
}

.success{color:#4caf50;}
.warning{color:#ff9800;}
.error{color:#e51c23;}

.success-bg {
	margin-top: 45px;
	border-style: solid;
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.show-border {
	border: 1px solid #000;
}
.text-overlay-inverse {
	-webkit-text-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
	-moz-text-shadow: 0 4px 28px rgba(0, 0, 0, 0.275);
	text-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
	font-family: 'Open Sans Condensed', sans-serif;
}

.clear-left-padding {padding-left: 0px;}
.clear-right-padding {padding-right: 0px;}
.clear-top-padding {padding-top: 0px;}
.clear-bottom-padding {padding-bottom: 0px;}

@media ( max-width : 678px ) {
	.username-text { font-family: 'Open Sans Condensed'; margin-top: -1px; font-size: 14px;}
.aside {
	margin-left: -15px;
	margin-right: 15px;
	padding-right: 15px;
}
.middle-align-icon {
	padding: 50% 0px;
	font-size: 20px;	
}

.middle-align-text {
	padding: 15% 0px;
	font-size: 13px;	
}
.text-bold {
	font-weight: 800;
}
}

@media ( min-width : 678px ) {
	.aside {
		margin-left: 0px;
		margin-right: -15px;
	}
	
.middle-align-icon {
	padding: 30% 0px;
	font-size: 37px;
}
.middle-align-text {
	padding: 15% 0px;
	font-size: 16px;	
}
}
@media ( max-width : 1200px) and (min-width: 992px) {
	.aside {
		margin-left: -15px;
		margin-right: 15px;
	}
}

.tab-button-header-text {
	margin-bottom: 5px;
	font-size: 20px;
	text-decoration: bold;
}

.btn {text-transform: capitalize;}

footer {margin-top: 12px;}

.navbar.transparent.navbar-inverse .navbar-inner, .navbar.transparent.navbar-inverse .navbar-inner>li>a: hover
	{
	color: white;
	border-width: 0px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	background-color: rgba(0, 0, 0, 0.0);
	background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop(0%,
		rgba(0, 0, 0, 0.00)), color-stop(100%, rgba(0, 0, 0, 0.00)));
	background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%,
		rgba(0, 0, 0, 0.00) 100%);
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%,
		rgba(0, 0, 0, 0.00) 100%);
}

.block-padding {
	margin-bottom: 10px;
	margin-top: 5px;
}

.navbar-bottom {
	margin-bottom: 0px;
}

.block-danger {
	background: #e51c23;
	color: white;
	-webkit-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
	-moz-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
	box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);	
}

.block-success {
	background: #4caf50;
	color: white;
	-webkit-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
	-moz-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
	box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);	
}

.block-info {
	background: #9c27b0;
	color: white;
	-webkit-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
	-moz-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
	box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);	
}

.block-warning {
	background: #ff9800;
	color: white;
	-webkit-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
	-moz-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
	box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);	
}

.block-primary {
	background: #2196f3;
	color: white;
	-webkit-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
	-moz-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
	box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);	
}

.block-default {
	background: #fff;
	color: #000;
	-webkit-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
	-moz-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
	box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);	
}

.block-sky-blue {
	background: #04C8D6;
	color: white;
	-webkit-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
	-moz-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
	box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);	
}

.block-yellow {
	background: #E8BD00;
	color: white;
	-webkit-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
	-moz-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
	box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);	
}

.block-chocolate {
	background: #431C00;
	color: white;
	-webkit-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
	-moz-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);
	box-shadow: 0 4px 18px rgba(0, 0, 0, 0.275);	
}

.modal-header-danger {
	background-color: #e51c23;
	-webkit-border-top-left-radius: 2.5px;
	-webkit-border-top-right-radius: 2.5px;
	-moz-border-radius-topleft: 2.5px;
	-moz-border-radius-topright: 2.5px;
	border-top-left-radius: 2.5px;
	border-top-right-radius: 2.5px;
	border-top-right-radius: 2.5px;
}

.modal-header-success {
	background-color: #4caf50;
	-webkit-border-top-left-radius: 2.5px;
	-webkit-border-top-right-radius: 2.5px;
	-moz-border-radius-topleft: 2.5px;
	-moz-border-radius-topright: 2.5px;
	border-top-left-radius: 2.5px;
	border-top-right-radius: 2.5px;
	border-top-right-radius: 2.5px;
}

.modal-header-primary {
	background-color: #2196f3;
	-webkit-border-top-left-radius: 2.5px;
	-webkit-border-top-right-radius: 2.5px;
	-moz-border-radius-topleft: 2.5px;
	-moz-border-radius-topright: 2.5px;
	border-top-left-radius: 2.5px;
	border-top-right-radius: 2.5px;
	border-top-right-radius: 2.5px;
}

.modal-header-info {
	background-color: #9c27b0;
	-webkit-border-top-left-radius: 2.5px;
	-webkit-border-top-right-radius: 2.5px;
	-moz-border-radius-topleft: 2.5px;
	-moz-border-radius-topright: 2.5px;
	border-top-left-radius: 2.5px;
	border-top-right-radius: 2.5px;
	border-top-right-radius: 2.5px;
}

.modal-header-warning {
	background-color: #ff9800;
	-webkit-border-top-left-radius: 2.5px;
	-webkit-border-top-right-radius: 2.5px;
	-moz-border-radius-topleft: 2.5px;
	-moz-border-radius-topright: 2.5px;
	border-top-left-radius: 2.5px;
	border-top-right-radius: 2.5px;
	border-top-right-radius: 2.5px;
}

.modal-header-danger h4, .modal-header-success h4, .modal-header-primary h4,
	.modal-header-info h4, .modal-header-warning h4 {
	color: #fff;
}

.tablesorter-filter-row .disabled {
	opacity: 0;
	filter: alpha(opacity = 50);
	cursor: not-allowed;
}

.filter-box {
	background: white;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: textfield;
	margin: 0;
}

.dont-break-out {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;
	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.ellipses {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.panel-heading a {
	text-decoration: none;
}

.text-large {
	font-size: 20px;
}

.panel-heading .accordion-toggle:after, .panel-heading .panel-toggle:after {
	/* symbol for "opening" panels */
	font-family: 'FontAwesome'; /* essential for enabling glyphicon */
	content: "\f139"; /* adjust as needed, taken from .css */
	float: right; /* adjust as needed */
	color: white; /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after, .panel-heading .panel-toggle.collapsed:after {
	/* symbol for "collapsed" panels */
	content: "\f13a"; /* adjust as needed, taken from bootstrap.css */
}

.modal.fade.in {overflow-x:hidden; overflow-y:auto;}
.input-mini { width: 40px; height: 38px; margin-top: 4px}

.show-grid {
	display: block;
}
.show-table {
	display: none;
}

@media ( min-width : 930px ) {
	.show-grid {
		display: none;
	}
	.show-table {
		display: block;
	}
}
.small-text {
	font-size: 70%;
}